@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Archivo";
  src: url("./assets/fonts/archivo.ttf") format("truetype");
}

.light-mode-color {
  --primary: #001830;
}

.dark-mode-color {
  --primary: #001830;
}
